/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/
/* for index only */
@media only screen and (max-width: 1024px) and (min-width: 769px){
  section div.bioContent{
    display: flex;
    flex-direction: row;
  }

  section div.bioContent .division{
    height: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section div.bioContent .division p{
    font-family: fantasy;
    margin: 0px 0px 20px 20px;
    font-size: 21px;
    text-align: justify;
    color: #442a5a;
  }
  section div.bioContent .division h6{
    width: 97%;
    margin: 20px 0px 0px 9px;
    text-align: center;
    color: #201f46;
  }

  section div.bioContent aside{
    width: 35%;
    display: flex;
    align-items: flex-start;
  }
  section aside.theboy h1{
    margin: 0px 0px 10px 10px;
    padding: 20px 0px 0px 0px;
    font-size: 35px;
    color: #57416b;
    text-align: center;
    transform: rotateY(0deg);
    transition: font-size 1s, transform 3s;
  }

  section aside.theboy h1:hover{
    transform: rotateY(360deg);
    animation-name: opa;
    animation-duration: 3s;
  }

  section aside.theboy img{
    margin-top: 0px;
    width: 170px;
    height: 260px;
  }
  section aside.theboy div.stickman hr{
    background-color: #57416b;
    margin-left: 125px;
    margin-top: 1px;
    border: 0px solid black;
    height: 1px;
    width: 40%;
  }
}
