/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/


/* css for cv */
section h1{


}
section h1.title{
}

section .cvMain{
  display: flex;
  justify-content: center;
}

section div.cvMain div.cvContent{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 80%;

}
section div.cvMain div.cvContent ul{
  background-color: transparent;
  width: 400px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  box-shadow: 5px 5px 1px #957aad;
}
section div.cvMain div.cvContent li{
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  padding: 0px 0px 20px 60px;
  color: #39234c;
  transition: width 0.5s; /* translation effect of width in hover */
  width: 85%;
  color: #362d3e;
}
section div.cvMain div.cvContent li:hover{ /* li elements hover effects css */

}

section div.cvMain div.cvContent h2{
  padding: 20px 0px 20px 10px;
  margin: 0px 0px 20px 0px;
  width: 75%;
  color: black;
  text-align: center;
  box-shadow: none;
  border-bottom: 1px solid black;
  transition: background-color 1s, width 0.2s, box-shadow 0.1s, margin 0.2s;
}
section div.cvMain div.cvContent h2:hover{
  box-shadow: 0px 1px 2px #2F1646;
  border-bottom: 1px solid black;
}

section div.cvMain div.cvContent div.row1{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
section div.cvMain div.cvContent div.row2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
}


section div.cvMain div.cvContent div.row2 ul li{
  margin: 0px;
  padding: 7px 0px 7px 40px;
}

section div.cvMain div.cvContent div.row2 ul li h2{
  padding: 20px 0px 20px 10px;
  margin: 0px 0px 10px 20px;
  width: 75%;
  color: black;
}

section div.cvMain div.cvContent div.row2 ul li div.skills{
  width: 90%;
  display: flex;
  flex-direction: row;
}

section div.cvMain div.cvContent div.row2 ul li div.skills div.language{
  width: 50%;
}
section div.cvMain div.cvContent div.row2 ul li div.skills div.graphic{
  width: 50%;
}

section div.cvMain div.cvContent div.row2 ul li div.skills div.language ul{
  width: auto;
  border: 0px solid white;
  box-shadow: none;
}

section div.cvMain div.cvContent div.row2 ul li div.skills div.graphic ul{
  width: auto;
  border: 0px solid white;
  box-shadow: none;
}




section div.cvMain div.cvContent div.row2 ul li a{
 color: #362d3e;
}
