/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/

section.index{
  width: 100%;
  margin: 100px 0 0 0;      /* header use "fixed position" so to overcome the cons, if this margin is not use
                                then div.image would go behind the header */
  position: fixed;      /* position is fixed same as header */
  display: flex;
  flex-direction: row;
  background: #17111d;
}

div.image{
  width: 47%;
  background: ;
  height: 100%;
  background-image: url(../images/);
  display: flex;
  flex-direction: column;
  align-items: ;
  justify-content: center;
  padding: 90px 0px 82px 0px;
}
div.opa1, div.opa2{
  background-image: url(../images/opa.png);
  margin: 10px 0px 10px 20px;
}

div.opa1{
  width: 70%;
}
div.opa2{
  width: 80%;
}
.opa1:hover, .opa2:hover{
}
section h3,h4{
  width: 90%%;
  color: #BB96CC;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 15px;
  animation-name:
}

section h3{
  font-size: 30px;
}
section h4{
  font-size: 20px;
}
section h3:hover, h4:hover{
  margin: 2px 2px 2px 0px;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  background-image: url(../images/opa01.png);
}
h4:hover{
  height: 59px;
}

section div.vr{
  margin: 30px 0px 0px 0px;
  width: 1px;
  height: 300px;
  background: #9170AF;
}
div.padding{
  width: 3%;
}

aside.profile{
  width: 50%;
  height: px;
  display: flex;
  flex-direction: row;
}

div.profile_left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img.dp{
  height: 85%;
  width: 75%;
  border-radius: 120px 120px;
  border: 3px solid #412e52;
  transition: height 1s, width 1s;
}
section img.dp:hover{
  border-radius: 220px 231px;
  height: 75%;
  border-radius: 49%;
  border: 2px solid #BB96CC;
}
article.info{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

article.info ul{
  background: ;
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 19px 0px 0px 0px;

}
article.info li{
  margin: 0px 0px 0px 0px;
  font-size: 15px;
  padding: 18px 0px 17px 0px;
  justify-content: center;
  color: #BB96CC;
  transition: width 0.5s;
  width: 75%;
}

article.info li:hover{
  width: 100%;
  box-shadow: none;
  color: white;
  background: linear-gradient(to right, #17111d, #2C2037);
}
