/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/

@media only screen and (max-width: 425px){   /* apply the following css values for the screen width 425px and below */
  /* section css for index only */
  section.index{
    margin: 0px;    /* header fixed position is removed so margin no needed */
    position: static;     /* changes fixed position */
    flex-direction: column;
    height: auto;
  }

  div.quote{
    width: 100%;    /* width is set to 100% so it covers whole screen */
    height: 100px;
    margin-bottom: 0px;
    padding: 20px 0px 30px 0px;

  }

  div.opa1, div.opa2{   /*separate div s common css */
    background-image: url(../images/opa.png);   /* div.opa1 and div.opa2 background set */
    margin: 10px 0px 0px 10px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  /*separate div s separate css */
  div.opa1{
    width: 83%;   /* div width set to 70% */

  }
  div.opa2{
    width: 92%;   /* div width set to 70% */
  } /*separate div s separate css ends */

  /* separate div hover property */
  .opa1:hover, .opa2:hover{

  }

  /* h3 and h4 property of section */

  section .opa1 h3,.opa2 h4{
    width: 100%;
    color: #BB96CC;   /* text color */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
    transition: width 0.5s;   /* change in width */
  }

  section div.opa1 h3{
    font-size: 15px;
  }
  section div.opa2 h4{
    font-size: 12px;
  }
  section .opa1 h3:hover,.opa2 h4:hover{
    height: 40px;
  }

  /* h3 and h4 css ends */


  section div.vr{
    margin: 0px 0px 20px 20px;
    height: 1px;
    background: #9170AF;
    width: 90%;

  }

  aside.profile{
    margin: 0px;
    width: 100%;
    flex-direction: column;
  }

  div.profile_left{
    width: 100%;
  }

  section img.dp{
    height: 50%;
    width: 50%;
  }
  section img.dp:hover{

  }

  article.info{
    width: 100%;
    justify-content: center;
  }

  article.info ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 10px 0px;
  }
  article.info li{
    margin: 0px 0px 0px 0px;
    font-size: 14px;                /* font size and padding are adjust for tablet size */
    padding: 10px 0px 10px 0px;
    color: #BB96CC;
    width: auto;
  }

  article.info li:hover{
    width: auto;
    box-shadow: none;
    color: white;
    background: linear-gradient(to right, #17111d, #2C2037);
  }
  /* section css ends */


/* main css starts */
main{
  margin: 0px;    /* none of the preceeding blocks are fixed so margin is not neeeded */
}
div.main{

}
main .main .greet{
  background: #a874d6;
}

main .main .greet h1{
  margin: 0px 0px 10px 0px;
  color: black;
  font-size: 2em;
  width: inherit;
  text-align: center;
  padding-top: 20px;
}

main .main .greet h1{

}

main .main .greet .paragraph{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

main .main .greet .paragraph p{
  text-align: center;
  line-height: 40px;
  font-size: 0.8em;
  font-style: italic;
}

main .main .links{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
}

a{
  width: 100%;
  height: auto;
}
main .main .links .cv, .bio, .contact{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
main .main .links .vr{
  width: 90%;
  margin-top: 0px;
  height: 1px;
  background: black;
}

main .main .links .cv{

}

main .main .links .bio{

}
main .main .links p{
  color: black;
  margin: 0px 0px 0px 0px;
  width: 40%;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
}
main .main .links .contact{
}
main .main .links .contact h2{
  background-color: #c4b4d2;
  background-image: url(../images/gmail.png);
  background-repeat: no-repeat;
}

main .main .links .cv h2{
  background-color: #a874d6;

}

main .main .links .bio h2{
  background-color: #a874d6;

}


main .main .links ul{
  width: 40%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;


}
main .main .links li{
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  padding: 0px 0px 20px 0px;
  transition: width 0.5s; /* translation effect of width in hover */
  width: auto;
  color: #362d3e;
}

main .main .links  h2{
  width: 50px;
  height: 45px;
  padding: 48px;
  font-size: 2.2em;
  margin: 30px 0px 40px 0px;
  color: black;
  text-align: center;
  border: 3px solid #1d1623;
  background-color: #a874d6;
  border-radius: 165px;

}


main .main .links  h2:hover{
  width: 50px;
  height: 45px;
  padding: 48px;
  font-size: 2.2em;
  margin: 30px 0px 40px 0px;
  color: black;
  text-align: center;
  border: 3px solid #1d1623;
  background-color: #a874d6;
  border-radius: 165px;
  
}
main .main .links .contact h2{
  font-size: 1em;
  background-color: #a874d6;

}
main .main .links .contact h2:hover{
  font-size: 1.5em;
}

main .main .links  h2:hover{
  width: 83px;
  height: 70px;
  padding: 58px;
  font-size: 4em;
  margin: 30px 0px 60px 0px;
  color: #412e52;
  background-color: #a874d6;
  border: 9px solid #42344F;

}
}

/* main css ends */
