/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/


/* section for index css starts */

@media only screen and (max-width: 1024px) and (min-width: 769px){

section.index{
  margin: 100px 0 0 0;      /* header use "fixed position" so to overcome the cons, if this margin is not use
                                then div.image would go behind the header */
  position: fixed;      /* position is fixed same as header */
  display: flex;
  flex-direction: row;    /* arrange the ".index" div content in single row */
  background: #17111d;
} /*section css ends */

/* division with quote starts */
div.quote{
  width: 47%;
  height: 100%;
  background-image: url(../images/);    /* set background image */
  display: flex;
  flex-direction: column;     /* ".quote" items are align in single column */
  padding: 40px 0px 40px 0px ;
}
/* quote div css ends */

/* each quote have seperate div from them, for making background effect and translation to these quote */
div.opa1, div.opa2{   /*separate div s common css */
  background-image: url(../images/opa.png);   /* div.opa1 and div.opa2 background set */
  margin: 10px 0px 10px 20px;
}

/*separate div s separate css */
div.opa1{
  width: 70%;   /* div width set to 70% */
}
div.opa2{
  width: 80%;   /* div width set to 70% */
} /*separate div s separate css ends */

/* separate div hover property */
.opa1:hover, .opa2:hover{

}

/* h3 and h4 property of section */

section h3,h4{
  width: 80%;
  color: #BB96CC;   /* text color */
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 15px;
  transition: width 0.5s;   /* change in width */
}

section h3{
  font-size: 18px;
}
section h4{
  font-size: 14px;
}
section h3:hover, h4:hover{
  margin: 2px 2px 2px 0px;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  background-image: url(../images/opa01.png);   /* background change when hover */
  width: 96%;
}

/* h3 and h4 css ends */

/* draws the vertical line */
section div.vr{
  margin: 30px 0px 0px 0px;
  width: 1px;
  height: 180px;
  background: #9170AF;
}
/* vr css ends */


/*css for right side aside of the section */
aside.profile{
  width: 50%;
  display: flex;
  flex-direction: row;
}
  /* the aside is again divided into 2 part, the "img.dp" for image and "article.info" for brief info */

/* left part of aside */
div.profile_left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* profile image */
section img.dp{
  height: 75%;
  width: 70%;
  margin: 0px 0px 0px 20px;
  border-radius: 120px 120px;
  border: 3px solid #412e52;
  transition: height 1s, width 1s;
}
section img.dp:hover{   /* image while hover */
  border-radius: 220px 231px;
  height: 80%;
  width: 75%;
  border-radius: 49%;
  border: 2px solid #BB96CC;
}
/* profile image css ends */

/* right side of aside, .info css */
article.info{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: auto;
}

/* this section informations are in list form */
article.info ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px 0px 0px 0px;

}
article.info li{
  margin: 0px 0px 0px 0px;
  font-size: 11px;
  padding: 10px 0px 10px 0px;
  justify-content: center;
  color: #BB96CC;
  transition: width 0.5s; /* translation effect of width in hover */
  width: 90%;
}


article.info li:hover{ /* li elements hover effects css */
  width: 100%;
  box-shadow: none;
  color: white;
  background: linear-gradient(to right, #17111d, #2C2037);
}
/*css for right side aside of the section ends */


/* css main for index.html */
main{
  margin: 337px 0 0 0;        /* "div.image" use "fixed position" so to overcome the cons, if this margin is not use
                                then "main" would go behind the "div.image" */
  z-index: 1;                 /* stays on top of z-index: 0, for index.html only(stays on top of section) */
  width: 100%;
  background: #C29AE5;
  box-shadow: 0px 0px 10px 0px #432c58;   /* drops shadow on it's upper division i.e, "div.image" */
}
div.main{ /* for index */
  height: 700px;
}

}
