/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/

@import "index_laptop.css" screen;
@import "bio_laptop.css" screen;
@import "contact_laptop.css" screen;
@import "cv_laptop.css" screen;
@media only screen and (max-width: 1024px) and (min-width: 769px){
  header div.logo h2{
    font-size: 0.8em;
  }


  /* css for connect to me links */
  footer div.connect{
    margin: 50px 0px 60px 0px;      /* for better layout */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;      /* vertically align center */
  }

  /* footer all h2 */
  footer h2{
    font-size: 20px;
  }

  footer div.connect h2{    /* only div.connect h2 */
    padding: 0px 0px 0px 0px;
    margin: 20px;
  }


  footer div.connect ul {   /* only div.connect ul */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    padding: 0px;
  }


  footer div.connect ul li{ /* only div.connect li */
    padding: 5px 0px 10px 0px;
    margin: 0px 16px 0px 0px;      /* for better layout */
    color: #BB96CC;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    transition: color 0.5s, opacity 1s;   /* color changes takes 0.5second and opacity changes takes 1s */
  }


  footer div.connect ul li:hover{
    padding: 0px;
    background: none;
    box-shadow: none;
    color: white;
    opacity: 0.9;
  }

  /* social media logos */
  footer div.connect img {
    height: 25px;     /*height and width set to 25px */
    width: 25px;
    margin: 0px 15px 0px 0px;   /* margin between logo and text */
  }

  footer div.connect .text{
    display: flex;
    align-items: center;    /* vertically align to center */
  }

  div.footer{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  div.footer h2{
    font-size: 10px;
    margin: 0px 0px 30px 0px;    /* for better layout */
    padding: 0px;
  }

}
