/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/

@import "index_tablet.css" screen;
@import "bio_tablet.css" screen;
@import "contact_tablet.css" screen;
@import "cv_tablet.css" screen;
@media only screen and (max-width: 768px){   /* apply the following css values for the screen width 768px and below */

  body{ /* html body css */
    margin: 0px;
    padding: 0px;
  } /* body css ends */


  /*header css starts*/
  header{
    background-color: #412e52;    /* set the header background color to given value */
    width: 100%;            /* set header width to 100% covering the full screen width of the browser */
    height: 150px;          /* fixed the height of header */
    position: static;      /* changes the header fixed position */
    display: flex;          /* set the container display type to flex */
    flex-direction: column;      /* arrange header components in single column */
    box-shadow: 1px 1px 0px #845699;   /* drops shadow on div.image */
  }

  /* logo division */
  div.logo{
    height: 100%;
    width: 100%;
    justify-content: center;    /* align "div.logo" contents to center of total width occupied by "div.logo" */
    align-items: baseline;      /* arrange "div.logo" items vertically in baseline form */
    margin: 20px 0px 0px 0px;   /* margin 20px on top so that it don't seems to be attached */
    color: #BB96CC;     /* all the text's color within this div will be set */
  }


  /* logo image property */
  img.initial{
    opacity: 0;
    position: fixed;
    animation-name: del;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  @keyframes del {  /* animation effect is canceled */
    0%{opacity: 0;}
    100%{opacity: 0;}
  }

  /* logo hover */
  img.initial:hover{

  }

  img.hover{
    position: static;   /* fixed positon is changed */

  }

  nav{  /* navigation bar */
    height: 50%;
    margin: 0px 0px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center ;        /* nav content align on right */
    align-items: flex-end;           /* position nav component's at bottom */
    color: #BB96CC;                  /* nav component's text color */
  }
  ul{
    margin: 0px 0px 0px 0px;       /* margin at bottom */
    display: flex;
    flex-direction: row;      /* display ul items in row i.e, the <li> elements */
    padding: 0px;
    list-style-type: none;    /* removes the list style */
  }

  nav li{
    padding: 0px 20px 0px 15px;    /* padding 0px on top 20px on right 10px on bottom and 15px on left */
    height: 80%;
    transition: margin 1s, background 2s ;
  }

  nav li:hover{   /* hover property. apply the following property when mouse pointer is hover above the <li> element */
    color: white;             /* sets text color to white on hover */
    margin: 2px 0px 0px 0px;
    height: 70%;
    background: #9979A8;      /* apply background on hover */
    box-shadow: 0px 0px #f2e1fb;
    border-radius: 0px 0px;     /* background have curve edges */
  }
  /* navigation ends */

  section{
    margin: 0px;
  }


  /* footer css */
  footer{

  }

    /* footer connect me links */
  footer div.connect{

  }

  footer h2{

  }
  footer div.connect h2{

  }


  footer div.connect ul {

  }


  footer div.connect ul li{
    padding: 5px 0px 10px 0px;
    margin: 0px 5px 0px 15px;
    color: #BB96CC;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    transition: color 0.5s, opacity 1s;
  }

  footer div.connect ul li:hover{

  }

  footer div.connect img {
    height: 20px;           /* image size is reduced for better view on tablet */
    width: 20px;
    margin: 0px 9px 0px 0px;
  }

  footer div.connect .text{

  }
  /* footer connect me links end*/

  /* main footer content */
  div.footer{

  }

  div.footer h2{

  }
/* footer ends */
