/*
  name: Kaustuv Prajapati
  UN-ID: 17421493
*/

body{ /* css for body */
  background: ;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
div{

}

header{ /*header css*/
  background: #412e52;
  width: 100%;
  position: fixed;      /* fix the header on it's original position even if the screen is scrolled */
  display: flex;
  justify-content: flex-end;    /* align all felx-items on right side */
  box-shadow: 1px 1px 3px #845699;   /* drops shadow on div.image */
  z-index: 3;       /* makes header always on top of other containers */
}
h2 {
  color: #BB96CC;
  transition: color 1s;
}
header h2{
  margin: 0px 10px 10px 0px;
  font-family: sans-serif;
  font-size: 15px;
}
h2:hover{
  color: white;
}

div.logo{   /* properties for div.banner */
  background: ;
  height: ;
  width: 50%;
  display: flex;
  align-items: baseline; /* align div.banner items at bottom of "div" */
  margin: 10px 0px 0px 15px;
}
div.logo:hover{
}

img.initial{
  width: 100px;
  height: 70px;
  position: fixed;
  opacity: 0.91;
  animation-name: opacity;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes opacity {
  0%{opacity: 0.5}
  10%{opacity: 0.8}
  20%{opacity: 0.6}
  30%{opacity: 0.4}
  40%{opacity: 0.2}
  50%{opacity: 0.0}
  60%{opacity: 0.2}
  70%{opacity: 0.4}
  80%{opacity: 0.6}
  90%{opacity: 0.8}
  100%{opacity: 1}
}

img.hover{
  width: 100px;
  height: 70px;
  opacity: ;
}

/* img.initial:hover{
  opacity: 0.5;
  background: ;
} */
a{
  font-family: sans-serif;
  text-decoration: none;
  color: #BB96CC;
}
a:visited a:active{
  text-decoration: none;
  color: #BB96CC;
}
nav{
  background: ;
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: flex-end;        /* nav content align on right */
  color: #BB96CC;
}
ul{
  list-style-type: none;    /* removes the list style */

}
nav ul{
  margin: 0px;
  display: flex;
  flex-direction: row;      /* display ul items in row i.e, the <li> elements */
  padding: 0px;

}
nav ul li{
  height: 90%;
  background:  ;
  padding: 0px 20px 10px 15px;    /* padding 0px on top 20px on right 10px on bottom and 15px on left */
  display: flex;
  align-items: flex-end;        /* put the <li> element at bottom of total height */
  transition: height 0.2s;
}

li:hover{   /* hover property. apply the following property when mouse pointer is hover above the <li> element */
  color: white;
  background: #9979A8;
  height: 87%;     /* gives animation of nav element i.e, move little up while hover */
  background: linear-gradient(#412e52, #583973);
  box-shadow: 0px 2px #f2e1fb;
}
h1{
  padding: 10px;
  margin: 0px;
  border-radius: 4px;
  color: #BB96CC;
  font-family: ;
}

h1:hover{     /* hover property. apply the following property when mouse pointer is hover above the <h1> element */
  color: #c2bdce;
  margin: 0px 0px 3px 0px;
}

main{
  margin: 450px 0 0 0;        /* "div.image" use "fixed position" so to overcome the cons, if this margin is not use
                                then "main" would go behind the "div.image" */
  z-index: 1;
  position: ;
  width: 100%;
  background: #C29AE5;
  box-shadow: 0px 0px 10px 0px #432c58;   /* drops shadow on it's upper division i.e, "div.image" */
}
div.division{
  height: 700px;
}
div.main{
  height: 700px;
}
section{          /* applied for bio.html */
  margin: 100px 0 0 0;
  z-index: 1;
  width: 100%;
  background: #C29AE5;
  box-shadow: 0px 0px 100px 10px #927D9C;   /* drops shadow on it's upper division i.e, "div.image" */
}
footer{
  background: #231529;
  z-index: 2;
  box-shadow: 0px 0px 40px 10px #3E244A;   /* drops shadow on "main" */
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer div.connect{
  margin: 50px 0px 60px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h2{
  font-size: 20px;
}
footer div.connect h2{
  padding: 0px 0px 0px 0px;
  margin: 20px;
}


footer div.connect ul {
  display: flex;
  flex-direction: row;
}


footer div.connect ul li{
  padding: 5px 0px 10px 0px;
  margin: 0px 30px 0px 10px;
  color: #BB96CC;
  background: ;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  transition: color 0.5s, opacity 1s;
}
footer div.connect ul li:hover{
  margin: ;
  padding: 0px;
  background: none;
  box-shadow: none;
  color: white;
  opacity: 0.9;
}

footer div.connect img {
  height: 25px;
  width: 25px;
  margin: 0px 15px 0px 0px;
}

footer div.connect .text{
  display: flex;
  align-items: center;
}
div.footer{
  width: 100%;
  height: ;
  display: flex;
  justify-content: center;
}
div.footer h2{
  font-size: 10px;
  margin: 50px 0px 30px 0px;
  padding: 0px;
}
